<h1>Products</h1>

<%= link_to "New Product", "/products/new" %>

<%= @products.each do |picture| %>
  <p><%= product[:name] %>, <%= product[:description] %>, <%= product[:price] %></p>
  <%= link_to image_tag(product.url), "/products/#{picture.id}" %>
<% end %>
